.header {
    top: 0px;
    z-index: 5;
    position: sticky;
    background-color: rgb(62, 62, 250);
    width: 100%;
    height: 120px;
    &-chooseLanguage {
        position: relative;
        font-size: 26px;
        font-family: sans-serif;
        color: seashell;
        height: 60px;
        width: 180px;
        background-color: rgb(18, 18, 121);
        &-dropItemsContainer {
            top: calc(50% - 30px);
            position: relative;
            background-color: red;
            height: auto;
            left: 85%;
            width: 180px;
        }
        &-item {
            position: relative;
            font-family: sans-serif;
            color: seashell;
            font-size: 26px;
            height: 60px;
            width: 180px;
            background-color: salmon;
        }
    }
}
.informationPage{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 75px;
    text-align: center;
    font-size: 24px;
    width: 200px;
    background-color: azure;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.profile{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    height: 75px;
    text-align: center;
    font-size: 24px;
    width: 200px;
    background-color: azure;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.mainBut{
    @extend .profile
    
}