.chainOrderPage {
    &-body {
        position: relative;
        min-height: 400px;
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
}

.leftBar {
    position: relative;
    min-height: 400px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: rgb(116, 116, 245) solid 4px;
    background-color: rgb(255, 255, 255);
}
